{% extends 'base.html' %}

{% block page_title %}
    Manage Article
{% endblock page_title %}
    

{% block contents %}
    <h1>Manage All Articles</h1>
      <table class="table mt-4 text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name_Article</th>
            <th scope="col">Created</th>
            <th scope="col">Category</th>
            <th scope="col">Published</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'article:detail' article.slug %}">{{article.title}}</a></td>
                <td>{{article.created|date:"SHORT_DATE_FORMAT"}}</td>
                <td class="text-capitalize">{{article.category}}</td>
                <td>
                {% if article.is_published == True %}
                  <i class="fas fa-check-circle text-success"></i>
                {% else %}
                  <i class="fas fa-times-circle text-danger"></i>
                {% endif %}
                  </td>
                <td><a href="{% url 'article:update' article.id %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'article:delete' article.id %}" class="btn btn-danger">Delete</a></td>
            </tr> 
            {% endfor %}
        </tbody>
      </table>
{% endblock contents %}
    