{% extends 'base.html' %}

{% block page_title %}
    Manage Article
{% endblock page_title %}
    

{% block contents %}
    <h1>Manage All Articles</h1>
      <a class="btn btn-primary" href="{% url 'article:create' %}">Create Article</a>
      <table class="table mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name_Article</th>
            <th scope="col">Published</th>
            <th scope="col">Category</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{article.title}}</td>
                <td>{{article.published|date:"SHORT_DATE_FORMAT"}}</td>
                <td class="text-capitalize">{{article.category}}</td>
                <td><a href="{% url 'article:update' article.id %}" class="btn btn-outline-warning">Update</a></td>
                <td><a href="{% url 'article:delete' article.id %}" class="btn btn-danger">Delete</a></td>
            </tr> 
            {% endfor %}
        </tbody>
      </table>
{% endblock contents %}
    